/*font for entire page*/
* {
  font-family: monospace;
}

/* background image for entire page */
html {
  background-image: url("wp2548390-4k-video-game-wallpapers.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* styles nav bar */
.hero {
  opacity: 0.4;
}
/* nav styles*/
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #226339;
}
/*title positioning*/
ul.topnav li {
  float: left;
}
/*nav styles*/
ul.topnav li a {
  display: block;
  color: #dbd8b9;
  text-align: center;
  padding: 28px 36px;
  text-decoration: none;
  font-size: 35px;
  font-style: bold;
}
/*hover properties*/
ul.topnav li a:hover:not(.active) {
  background-color: #111;
}
/*about us and favorites positioning*/
ul.topnav li.right {
  float: right;
}
/* arranges cards */
.card {
  margin-top: 100px;
  opacity: 0.7;
}
/*card styles*/
.card-content {
  background-color: #e2d6a6;

  color: #3a3d44;
}
/*name size*/
#name {
  font-size: 20px;
}
/*card text alignment*/
.content {
  text-align: center;
}
/*card footer positioning*/
.card-footer {
  padding-top: 12%;
}
/*card text alignment*/
span {
  display: flex;
  font-size: 14px;
}
