* {
  font-family: monospace;
}

/* background image for entire page */
html {
  background-image: url("pexels-markus-spiske-193350.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* styles nav bar */
.hero {
  opacity: 0.3;
}
/* home alignment */
/* .hero-body a {
  float: right;
  color: #bec7b4;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3a3d44;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: #dbd8b9;
  text-align: center;
  padding: 28px 36px;
  text-decoration: none;
  font-size: 35px;
  font-style: bold;
}

ul.topnav li a:hover:not(.active) {
  background-color: #111;
}

ul.topnav li.right {
  float: right;
}
/* arranges cards */
.card {
  margin-top: 100px;
  opacity: 0.8;
}
.card-content {
  background-color: #dbd8b9;
  color: #3a3d44;
}
.card-space {
  padding-bottom: 10%;
}
.card-footer {
  padding-top: 12%;
}
/* span {
  padding: 25px;
  display: inline;
  color: #3a3d44;
  margin: 100%;
} */

/* .card-image {
  width: 100px;
  height: 60px;
}
.card-image img {
  width: 100%;
  height: auto;
}
img {
  border-radius: 50%;
} */